@{
    ViewBag.Title = "من نحن؟";
}


  
    <h1>@ViewBag.Title</h1>
      

<div class="alert-success">
    <h2> نبذة عن شركتنا</h2>
</div>

    <p>

        إن وظيفة.كوم هو موقع التوظيف الأول في الشرق الأوسط ، حيث يقدم مجموعة متكاملة من حلول التوظيف الشاملة وأدوات التخطيط الوظيفي. تم تأسيس وظيفة.كوم في عام 2000 ويعمل بكامل طاقته باللغات الإنجليزية والعربية والفرنسية ، ويقدم لأسرع الطرق وأسهلها وأكثرها فاعلية وفعالية من حيث التكلفة لأصحاب العمل لإيجاد مرشحين جيدين وللباحثين عن عمل لإيجاد أفضل الوظائف في الشرق الأوسط. شرق وشمال إفريقيا.

        إن وظيفة.كوم ملتزم بشدة بالمنطقة ولديه فهم ممتاز وشامل لسوق التوظيف والأعمال في منطقة الشرق الأوسط وشمال أفريقيا. ويتجلى ذلك من خلال منصة التوظيف التافهة تمامًا في وظيفة.كوم ، والتي تعد أول وأول منصة في المنطقة ، بالإضافة إلى 12 مكتبًا إقليميًا لها في أبو ظبي ، الكويت ، عمان ، بيروت ، القاهرة ، الدوحة ، دبي ، المنطقة الشرقية وجدة والمنامة ومسقط والرياض. كما يتجلى ذلك من خلال سجل وظيفة.كوم الرائد في النجاح المستمر الذي يخدم الباحثين عن عمل في المنطقة وأصحاب العمل في العثور على أفضل الوظائف وأفضل المواهب على التوالي. مع أكثر من 31،900،000 محترف وأكثر من 40،000 مؤسسة رائدة تستخدم منصة توظيف Bayt.com عبر جميع فئات الصناعة والمستويات الوظيفية ، يعد وظيفة.كوم اليوم أكبر سوق منفردة من المحترفين والشركات في المنطقة.
    </p>

    <br />
    <div class="alert-info">
        <h1>رؤيتنا</h1>
    </div>


        <p>
            أن نكون مؤسسة شرق أوسطية تتمتع بامتداد لا غنى عنه عالميًا ومحترم ومُعجب به لحياة الناس.
        </p>

        <div class="alert-warning">
            <h1>رسالتنا</h1>
            </div>
            <p>
                هندسة نمط الحياة: لتمكين الأفراد من الأدوات والمعرفة لبناء أنماط حياتهم المفضلة.
            </p>
